.wrapper {
  display: flex;
}

/* 左側 */

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.logo-box {
  height: 100px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253141;
}

.user-name a{
  font-size: 16px;
  padding-left: 20px;
  text-decoration: none;
  color: #fafafa;
}

.new-chat a{
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
  color: deepskyblue;
}

.side-content {
  height: calc(100vh - 100px);
  padding: 0px 20px;
  background-color: #2f3e51;
}

.rooms{
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow-y: scroll;
  background-color: #2f3e51;
}

.room{
  padding: 20px 0 40px;
  color: white;
  background-color: #2f3e51;
}

.room-name a{
  text-decoration: none;
  color: white;
}


/* 右側 */

.chat {
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}

.main-header {
  height: 100px;
  padding: 0px 40px;
}

.chat-space {
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  background-color: #fafafa;
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #dddddd;
}